* {
  margin: 0;
  padding: 0;
}
.w-1000 {
  width: 320px;
    padding: 25px;
}
.matn .info-box{
  transition: 2s;
}
.matn:hover .info-box {
  transition: 2s;
  transform: scale(1.2);
  cursor: pointer;
}
.p {
  padding-right: 50px;
}
.bg {
  background: rgba(255, 255, 255, 0.925);
}
.bo {
  border: none ;
}
.w-30 {
  width: 50%;
}
.offcanvas {
  --bs-offcanvas-width: 550px;
}
.font {
  font-size: 20px;
}
.max {
  max-width: 1220px;
}
.w-20 {
  width: 80px;
}
.v {
  left: 12px;
    right: auto;
}
.v {
    color: #fff;
    text-align: center;
    display: block;
    border-radius: 30px;
    height: 40px;
    right: 16px;
    width: 40px;
    top: 22px;
  position: absolute;
  transition: transform .5s ease;
}
.menu-item {
  flex-direction: row;
  padding: 8px 12px;
  direction: rtl;
}
.he{
  height: 50rem;
}
.h-21 {
      color: white;
      padding: 220px 0;
      text-align: center;
    height: 35rem;
    }
    .size {
      font-size: 4.5rem;
    }
    .slide1{
      background-image: url("../images/slider2.jpg");
    }
    .slide2{
        background: url("../images/11.jpg");
    }
    .big {
      font-size: 20px;
    }
    .info-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin-top: 100px;
    }
    .info-box {
    background: rgba(109, 109, 255, 0.315);
    color: white;
    padding: 40px 30px 25px;
    margin-left: 5px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    }
    .size1 {
      font-size: 3rem;
    }
    .upi {
      height: 400px;
    }
    .mt-23 {
      margin-top: 6.5rem;
    }
    .w-100m {
      width: 1351px;
    }
    .m-6 {
      margin: 6rem 0 1rem;
    }
    .mx {
      margin: 0 200px 0 200px;
      line-height: 35px;
    }
    .zize {
      width: 90px;
      padding: 15px;
    }
    .w-m {
      width: 90px;
      background: white;
    }
    .mk {
      max-width: 90px;
    }
    .h-22 {
      background: url("../images/call-to-action.jpg") no-repeat;
      color: white;
      padding: 120px 0;
      text-align: center;
    height: 30rem;
    }
    .size2 {
      font-size: 3rem;
    }
    .card .in {
      margin-right: 136px;
      margin-top: -20px;
      background-color: white;
    }
    .m{
      margin-top: 50px;
    }
    .card-body:last-child {
      margin-bottom: 25px;
    }
    .imb {
      background: url("../images/services-bg.png");
    }
    .matin .card {
      transform: 2s;
    }
    .matin:hover .card{
      transition: 2s;
      transform: scale(1.2);
      cursor: pointer;
    }
    .card {
      position: relative;
    }
    .text-primaryx {
      color: rgb(3, 3, 110);
    }
    .dd {
      text-decoration: none;
      color: white;
      padding-right: 90px;
    }
    .artin .card {
      transition: 2s;
    }
    .artin:hover .card {
      transition: 2s;
      transform: scale(1.2);
      cursor: pointer;
    }
    .ma {
      position: relative;
      background: url("../images/testimonial.jpg") center/cover fixed no-repeat;
      /* background-size: c; */
      width: 1351px;
      max-width: 1351px;
      padding-bottom: 230px;
      padding-top: 90px;
      height: 55rem;
    }
    .h {
      font-size: 20px;
    }
    .c {
      padding-left: 7rem;
      padding-right: 7rem;
    }
    .mous {
  cursor: grab;
}
.mous:active {
  cursor: grabbing;
}
.bor {
  background: rgba(0, 57, 180, 0.473);;
  border: 0;
  color: white;
}
.i {
  width: 75px;
  margin: 0 auto;
}
.offcanvas {
    --bs-offcanvas-width: 450px;
}
.right {
  margin-bottom: 15px;
}
.cx {
  color: #c5c4c4;
}
.w-102 {
  width: 462px;
}
.bord {
  border: 1.5px solid rgba(232, 231, 231, 0.586);
  border-radius: 5px;
}
.w-26 {
  width: 40%;
  padding: 15px;
  color: white;
  background: #130067;
}
.le {
  left: 10px;
  right: 10px;
  top: -140px;
}
.mar {
  margin-top: -110px;
  margin-bottom: 20px;
}
.mx-50 {
  margin: 0 200px 0 200px;
}
.ir {
  width: 100%;
}
.wa {
  float: right;
  font-size: 13px;
  color: #939393;
}
.wo {
  font-size: 14px;
  line-height: 26px;
  text-align: right;
}
.w-39 {
  width: 36%;
  border-radius: 5px;
}
.fsd {
  font-size: 14px;
}
.bg-primaryd {
  background: rgb(27, 31, 161);
}
.w-1200 {
  padding: 25px 0px 25px 92px;
  width: 320px;
}
.bgo {
  border: 0;
  position: absolute;
  border-end-end-radius: 5px;
  border-start-end-radius: 5px;
  left: 0px;
    top: 0px;
    font-size: 21px;
}
.hh {
background: rgb(38, 42, 175);
}
.fk {
  width: 216px;
    border-radius: 6px;
    border: 0;
}
[type="email"] {
  direction: rtl;
}
.swiperd {
      width: 100%;
      height: 33rem;
    }