html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 44rem;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      text-align: center;
      font-size: 18px;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      object-fit: cover;
    }